body{
  max-width: 1500px;
  margin: auto;
  background-color: #C6CBC5;
}
/* Header starer her */
.container {
  position: relative;
  text-align: center;
  color: white;
}
.logo {
  font-size: 5em;
  font-family: 'Savoye LET', sans-serif;
  color: #695B51;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Header slutter her */
/* Grid layout starter her */
.top { grid-area: menuer; }
.mid { grid-area: indhold; }
.bottom { grid-area: footer; }

.layout {
  display: grid;
  grid-template-areas:
    'menuer menuer menuer'
    'indhold indhold indhold'
    'footer footer footer';

  grid-template-columns: 1fr;
  grid-template-rows: 100px auto 100px;


  gap: 10px;
  padding: 10px;

  background-color: #C6CBC5;
}

.layout > * {
  background-color: #E5E3E0;
  padding: 0px 0;
  font-size: 30px;
}

/* Grid layout slutter her */
/* Menu bar starter her */

.top{
  background-color: #C6CBC5;
}

.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  justify-content: space-around;
}

.flex-container > div {
  background-color: #E5E3E0;
  width: 15em;
  margin: 10px;
  box-shadow: 5px 5px 10px #99A391;
  border-radius: 15px;
  text-align: center;
  line-height: 60px;
  font-size: 30px;
  font-weight: bold;
  color: #354827;
  font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif;
}

.flex-container div:hover{
  background-color: #838D7B;
  color: #E5E3E0;
}

.flex-container a{
  color: #354827;
}

/* Menu bar slutter her */
/* indlæg starer her */

      /* <Portfolio page*/
.boks{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
      /* Portfolio page> */

.mid{
  background-color: #E5E3E0;
  font-size: 20px;
  font-family: 'Osaka-Sans Serif', sans-serif;
  font-weight: lighter;
  color: #695B51;
  text-align: center;
}

  .overskrift{
    font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif;
    font-size: 1.8em;
    font-weight: bold;
    color: #354827;
  }

  .underoverskrift{
    font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif;
    font-size: 1.5em;
    font-weight: normal;
    color: #354827;
  }

      /* <Portfolio page*/
  .raekke{
    display: flex;
    flex-direction: row;
    margin: 30px;
    justify-content: space-around;
  }
      /* Portfolio page> */

      /* <Kontakt page */
  .bodytekstkontakt{
    text-align: left;
    margin: 2em;
  }

  #billedeafmig{
    float: right;
  }
      /* Kontakt page> */

/* indlæg slutter her */
/* Footer starter her */
.bottom{
  background-color: #99A391;
  font-size: 20px;
  font-family: 'Osaka-Sans Serif', sans-serif;
  font-weight: lighter;
  color: #E5E3E0;
  text-align: center;
}
/* Footer slutter her */
